html
  head
    title= title
    script(src="http://localhost:3000/assets/remote-entry.js")
    each src in js
        script(src= src)
    each href in css
        link(rel="stylesheet", href= href)
  body
    h1= message
    div#main
        | !{reactApp}
